
travel-chum-4a5c3-4cdab0770d10.json
google-services.json
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

#API Key
environments.js

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
node_modules
node_modules
